<div>
  <%= image_tag @post_image.get_image %>
    <p>ショップ名：<%= @post_image.shop_name %></p>
    <p>説明：<%= @post_image.caption %></p>
    <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
    <p>ユーザーネーム：<%= @post_image.user.name%></p>
    <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
    <% if @post_image.user == current_user %>
      <%= link_to "削除", post_image_path(@post_image), method: :delete %>
    <% end %>
</div>