<div>
  <%= image_tag @post_image.get_image %>
    <p>ショップ名：<%= @post_image.shop_name %></p>
    <p>説明：<%= @post_image.caption %></p>
    <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
    <p>ユーザーネーム：<%= @post_image.user.name%></p>
    <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
    <% if @post_image.user == current_user %>
      <%= link_to "削除", post_image_path(@post_image), method: :delete %>
    <% end %>

    <!-- いいね機能 -->
    <% if @post_image.favorited_by?(current_user) %>
      <p>
        <!-- いいねを削除 -->
        <!-- 引数が@post_imageなのはなぜ？ => 投稿画像(post_imagesテーブル)のidが分からないとどの投稿のいいねか分からないから-->
        <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
          <!-- @post_imageにネストされているfavoritesテーブル内、post_image_idのカウントをしている-->
          ♥<%= @post_image.favorites.count %> いいね
        <% end %>
      </p>
    <% else %>
      <p>
        <!-- いいねをする -->
        <%= link_to post_image_favorites_path(@post_image), method: :post do %>
          ♡<%= @post_image.favorites.count %> いいね
        <% end%>
      </p>
    <% end %>
</div>

<div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <!--link_toの引数が2つあるのは、コメント(@post_image.post_comments)がpost_imageに紐づいているから-->
      <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>